{% extends 'content/frontpage.html' %}


{% block main_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
               <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               {{ article.author }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               Author: {{ article.content }}
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
    <script type="text/javascript">
        $(document).ready(function($) {
            var ws4redis = WS4Redis({
                uri: '{{ WEBSOCKET_URI }}foobar?subscribe-broadcast&publish-broadcast&echo',
                connecting: on_connecting,
                connected: on_connected,
                receive_message: receiveMessage,
                disconnected: on_disconnected,
                heartbeat_msg: '{{ WS4REDIS_HEARTBEAT }}'
            });

            // attach this function to an event handler on your site
            function sendMessage() {
                ws4redis.send_message('A message');
            }

            function on_connecting() {
                alert('Websocket is connecting...');
            }

            function on_connected() {
                ws4redis.send_message('Hello');
            }

            function on_disconnected(evt) {
                alert('Websocket was disconnected: ' + JSON.stringify(evt));
            }

            // receive a message though the websocket from the server
            function receiveMessage(msg) {
                alert('Message from Websocket: ' + msg);
            }
        });
    </script>
{% endblock extra_scripts %}