{% extends 'master.html' %}


{% block header_left %}
    <a class="navbar-brand" href="/">Simple Site</a>
{% endblock header_left %}

{% block header_right %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}">Login</a></li>
        {% endif %}
    </ul>
{% endblock header_right %}

{% block main_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <ul>
                {% for article in object_list %}
                    <li>
                        <a href="{% url 'content:article' pk=article.id %}">
                            {{ article.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock main_content %}