{% extends 'master.html' %}

{% block header_left %}
    <a class="navbar-brand" href="{% url 'authoring:dashboard' %}">Simple CMS</a>
{% endblock header_left %}

{% block header_right %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'authoring:logout' %}">Logout</a></li>
    </ul>
{% endblock header_right %}

{% block main_content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="{% url 'authoring:articles_list' page=1 %}">
                            Articles
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'authoring:tags_list' page=1 %}">
                            Tags
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'authoring:categories_list' page=1 %}">
                            Categories
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main_content %}